.button {
  min-width: 100px;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 18px;
  cursor: pointer;

  &.default {
    color: $color-primary;
    background-color: $color-white;
  }

  &.primary {
    background-color: $color-primary;
    color: $color-white;
  }
}
